In [1]:
from datascience import *
import numpy as np

## Review of Tables ##

In [2]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [3]:
point_guards = nba.where('POSITION', 'PG')

In [22]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [4]:
point_guards.drop('POSITION')

PLAYER          | TEAM              | SALARY
Jeff Teague     | Atlanta Hawks     | 8
Dennis Schroder | Atlanta Hawks     | 1.7634
Avery Bradley   | Boston Celtics    | 7.73034
Isaiah Thomas   | Boston Celtics    | 6.91287
Marcus Smart    | Boston Celtics    | 3.43104
Terry Rozier    | Boston Celtics    | 1.82436
Jarrett Jack    | Brooklyn Nets     | 6.3
Shane Larkin    | Brooklyn Nets     | 1.5
Kemba Walker    | Charlotte Hornets | 12
Brian Roberts   | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [5]:
point_guards

PLAYER          | POSITION | TEAM              | SALARY
Jeff Teague     | PG       | Atlanta Hawks     | 8
Dennis Schroder | PG       | Atlanta Hawks     | 1.7634
Avery Bradley   | PG       | Boston Celtics    | 7.73034
Isaiah Thomas   | PG       | Boston Celtics    | 6.91287
Marcus Smart    | PG       | Boston Celtics    | 3.43104
Terry Rozier    | PG       | Boston Celtics    | 1.82436
Jarrett Jack    | PG       | Brooklyn Nets     | 6.3
Shane Larkin    | PG       | Brooklyn Nets     | 1.5
Kemba Walker    | PG       | Charlotte Hornets | 12
Brian Roberts   | PG       | Charlotte Hornets | 2.85494
... (75 rows omitted)

In [6]:
point_guards = point_guards.drop('POSITION')

In [7]:
point_guards.sort('SALARY', descending=True).show()

In [27]:
(((nba.where('POSITION', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

In [28]:
(((nba.where('position', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

ValueError: label "position" not in labels ('PLAYER', 'POSITION', 'TEAM', 'SALARY')

In [ ]:
nba.drop('POSITION').where('POSITION', 'PG')

In [44]:
sal=nba.select('SALARY')
salcol=sal.column('SALARY')
print(nba.where('SALARY,max(salcol)))

SyntaxError: EOL while scanning string literal (<ipython-input-44-c944f137ff92>, line 3)

## Numbers ##

In [ ]:
30

In [ ]:
10 * 3    # int

In [ ]:
10 / 3    # float

In [ ]:
10 / 2

In [ ]:
10 ** 3

In [ ]:
10 ** 0.5

In [ ]:
1234567 ** 890

In [ ]:
10 / 3

In [ ]:
75892745.215489247589274985712

In [ ]:
75892745.215489247589274985712 - 75892745.21548925

In [ ]:
(13 ** 0.5) ** 2

In [ ]:
int(10 / 5)

In [ ]:
int(10 / 4)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2*x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'Flavor'

In [ ]:
Flavor

In [ ]:
"Flavor"

In [ ]:
"Don't always use single quotes"

In [ ]:
'Don't always use single quotes'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Steph' + 'Curry' # spaces aren't added for you

In [ ]:
'Steph' + ' ' + 'Curry'

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(nba)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array * 4

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [29]:
warriors = nba.where('TEAM', 'Golden State Warriors')

In [30]:
warriors

PLAYER            | POSITION | TEAM                  | SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [31]:
warriors.select('SALARY')

SALARY
15.501
14.2609
13.8
11.7105
11.3708
7.00847
5.54373
3.8734
3.815
2.5
... (4 rows omitted)

In [32]:
warriors.column('SALARY')

array([15.501   , 14.26087 , 13.8     , 11.710456, 11.370786,  7.008475,
        5.543725,  3.873398,  3.815   ,  2.5     ,  2.008748,  1.270964,
        1.13196 ,  0.289755])

In [36]:
np.average(warriors.column('SALARY'))

15.501

In [34]:
raptors = nba.where('TEAM', 'Toronto Raptors')

In [35]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))

2.3278598697479005