In [1]:
from datascience import *
import numpy as np

## Numbers ##

In [ ]:
30

In [ ]:
10 * 3    # int

In [ ]:
10 / 3    # float

In [ ]:
10 / 2

In [ ]:
10 ** 3

In [ ]:
10 ** 0.5

In [ ]:
1234567 ** 890

In [ ]:
10 / 3

In [ ]:
75892745.215489247589274985712

In [ ]:
75892745.215489247589274985712 - 75892745.21548925

In [ ]:
(13 ** 0.5) ** 2

In [ ]:
int(10 / 5)

In [ ]:
int(10 / 4)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2*x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'Flavor'

In [ ]:
Flavor

In [ ]:
"Flavor"

In [ ]:
"Don't always use single quotes"

In [ ]:
'Don't always use single quotes'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Steph' + 'Curry' # spaces aren't added for you

In [ ]:
'Steph' + ' ' + 'Curry'

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(nba)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array * 4

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)